.home__container {
  width: 100%;
}

.home__hero {
  height: 700px;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  background-color: #fafafa;
}

.home__hero--left {
  margin-top: 70px;
}

.home__hero--left h3 {
  color: #7c6a46;
  font-size: 20px;
}

.home__hero--left h2 {
  width: 401px;
  font-size: 40px;
}

.home__hero--left h5 {
  width: 261px;
  font-weight: 400;
  font-size: 16px;
}

.home__hero--left button {
  border: none;
  background-color: #7c6a46;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
}

.home__hero--right img {
  width: 626px;
  height: 700px;
}

/* ============ Facilities ============= */
.home__facilities {
}

.home__facilities h1,
.home__facilities h3 {
  text-align: center;
  font-weight: 500;
}

.home__facilities h3 {
  font-weight: 400;
}

.facilities__container {
  width: 100%;
  padding: 0 100px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.facilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 250px;
  background-color: #fafafa;
  color: #7c6a46;
}

.facilities i {
  font-size: 40px;
}
