.home__container {
  width: 100%;
}

.home__hero {
  height: 700px;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  background-color: #fafafa;
}

.home__hero--left {
  margin-top: 70px;
}

.home__hero--left h3 {
  color: #7c6a46;
  font-size: 20px;
}

.home__hero--left h2 {
  width: 401px;
  font-size: 40px;
}

.home__hero--left h5 {
  width: 261px;
  font-weight: 400;
  font-size: 16px;
}

.home__hero--left button {
  border: none;
  background-color: #7c6a46;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
}

.home__hero--right img {
  width: 626px;
  height: 700px;
}

/* ============ Facilities ============= */
.home__facilities {
}

.home__facilities h1,
.home__facilities h3 {
  text-align: center;
  font-weight: 500;
}

.home__facilities h3 {
  font-weight: 400;
}

.facilities__container {
  width: 100%;
  padding: 50px 100px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  justify-items: center;
}

.facilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 250px;
  background-color: #fafafa;
  color: #7c6a46;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.facilities i {
  font-size: 40px;
}

/* ========= ADS ========== */
.home__ads {
  width: 100%;
  height: 700px;
  position: relative;
  padding: 40px 100px;
}
.ads__bg {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  filter: brightness(70%);
}

.home__ads h1,
.home__ads h3 {
  text-align: center;
  color: white;
}

.ads__rooms {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.ads__room {
  background-color: white;
  width: 385px;
  height: 384px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.ads__rooms h4 {
  color: black;
  font-weight: 400;
  text-align: center;
}

.ads_room img {
  width: 330px;
  height: 285px;
  border-radius: 7px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1.5s ease forwards;
}

.title__para {
  opacity: 0;
}
